<div class="row featurette align-items-center w-75 mx-auto bg-white">
      <div class="col-md-3 order-md-2">
        <h1 class="featurette-heading">The Second Heading <span class="text-muted">its Pretty Cool Too.</span></h1>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-3 order-md-1">
        <img src="./assets/img/2.jpg" alt="" class="img-fluid rounded-circle" width="400" height="400"> 
      </div>
    </div>
  <hr class="featurette-divider featurettebottom">